.Tilt {
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%); /* w3c */
}

.inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(30px);
}

.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
